if type lorri &>/dev/null; then
    # use lorri
    echo "direnv: using lorri from PATH ($(type -p lorri))"
    eval "$(lorri direnv)"
    eval "$shellHook"
else
    # fall back to using direnv's builtin nix support
    # to prevent bootstrapping problems.
    use nix
fi

install-deps
