node_modules/
.direnv/
.idea/
build/
pnpm-debug.log
src/contracts/wrappers/
coverage/
.env*
logs/
.DS_Store
storage
deploy.json
config.json
wallet.bin

UTC--2*
*.sqlite
isolate-*.log
misc/vagrant/.vagrant/
